h1{
    color: blueviolet;
}

img {
    width: 400px;
    display: block;
    padding: 5px;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empanada1, .empanada2{
    padding: 20px;
}

#thirdDiv {
    height: 800px;
    max-width: 500px;
    background-color: rgb(216, 202, 184);
    padding: 50px;
    border: 4px solid rgb(205, 50, 115);
    margin: 0 auto;
   
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

.divClass {
    max-width: 500px;
    margin: 0 auto;
}